@import "bourbon/bourbon";
@import "_modules/_all";

.contact-form {
	@include clearfix;
	position: relative;
	margin: -1em 0 3em;
	form.form {
	    color: #666;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size: 1em;
	    margin: 0 auto;
	    text-align: left;
	    max-width: 50em;
	    overflow: hidden;
	    height: 1%;
	    &:before {
			content: "";
			display: block;
			width: 50%;
			height: 1px;
			border-top: 1px solid #fff;
			text-align: center;
			clear: both;
			margin: 0 auto 3em;
		}
	}
	form.form p {
		clear: none;
	}
	form.form p.required label, form.form span.required label {
	    background: none;
	}
	form.form input.text {
	    width: 100%;
	    border: none;
	    border-radius: 4px; 
	    font-size: 1.6em;
	    padding: 1.25em 1em 1em;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    color: #262626;
	}

	form.form p label {
		@include transition(all .05s linear);
		position: absolute;
		left: 2.2em;
		top: .3em;
		font-size: 1.2em;
		color: #999;
		text-align:left;
		font-weight: normal;
		&.place-infield {
			font-size: 1.6em;
			left: 1.7em;
  			top: 1em;
		}
	}

	p.form-field {
		width: 100%;
		padding: 0 2.5%;
		margin: 1em 0;
		position: relative;
		text-transform: lowercase;
		@include respond-to(expansionA) {
			float: left;
			width: 50%;
		}
	}
	p.form-field.company,
	p.form-field.website  {
		@include respond-to(expansionA) {
			width: 100%;
		}
	}
	form.form p.submit {
		padding: 2em 2.5% 6em;
		font-family: "Arial Rounded MT Bold", helvetica;
		margin: 0;
		clear: both;
		input {
			@extend .btn;
			width: 100%;
			display: block;
		}
	}
	form.form p.errors {
		background: $spice;
		color: #fff;
		padding: 1em 2.5%;
		margin: 1em 2.5%;
		border-radius: 4px; 
		font-size: 1.2em;
		font-family: "Arial Rounded MT Bold", helvetica;
	}
}
