//BRANDING COLORS
//primary
$honeycomb: rgba(233,186,38,1);  // #e9ba26
$clementine: rgba(240,129,43,1); // #f0812b
$slushie: rgba(95,184,221,1);    // #5fb8dd
$frosting: rgba(234,11,140,1);   // #ea0b86

//Secondary
$aloe: rgba(80,136,107,1);       // #50886b
$berry: rgba(80,131,149,1);      // #508395
$wasabi: rgba(158,174,61,1);     // #9eae3d
$grape: rgba(146,39,134,1);      // #92278f
$link-color: rgba(0,136,204,1);  //#0088cc;
$spice: rgba(235,63,60,1);       // #eb3f3c
$wine: rgba(131,46,47,1);        // #832e2f
$whale: rgba(38,38,38,1);        // #262626
$white: rgba(255,255,255,1);     // #ffffff
$prince: rgba(84,74,161,1);      // #544aa1
$cloud-blue: rgba(228, 243, 249,1);  // #e4f3f9

//background colors
$gray-10: #E6E6E6;
$gray-20: #CCCCCC;
$gray-30: #D1D1D1;
$gray-50: #909090;
$gray-70: #666666;
$gray-90: #454545;
$gray-100: #262626;

$grayBG-UltraLight: #f6f6f6;

$ls-font: "ProximaNovaSoftRegular", "arial rounded mt bold", helvetica, arial, sans-serif;
$ls-alt-font: georgia, serif;
$ls-font-weight: normal;
$ls-font-normal:  "ProximaNovaSoft", Helvetica, Arial, sans-serif;
$proxima-family: "ProximaNovaSoft", "arial rounded mt", helvetica, arial, sans-serif;

$helv: "Helvetica Neue", Arial, Helvetica, sans-serif;
